.detail-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  padding: 10%;
  gap: 2rem;
  grid-template-rows: 300px;
}

@media (min-width: 900px) {
  .detail-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-template-areas: "image-detail description";
  }
}

.pokemon-detail-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  background-color: #c4e3d4;
  border-radius: 40px;
}

.pokemon-detail-image img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.pokemon-detail-description h3 {
  text-transform: capitalize;
  font-size: 50px;
  letter-spacing: 4px;
  color:#59878a
}

.progress-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 20px;
}

@media (min-width: 600px) {
    .progress-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "image-detail description";
    }
  }

.progress-view {
}

.description-text {
    color: #4B4B4B;
    font-size: small;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.heart-icon-detail {
    font-size: 35px;
}

.favorite-detail {
    position: absolute;
    top: 25px;
    left: 25px;
}

