body {
  background-color: #f5fbfb !important;
}

.color-nav {
  background-color: #f5fbfb;
  padding: 20px !important;
}

.nav-link {
  color: #2e3056 !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  padding-right: 30px !important;
  padding-left: 30px !important;
  font-size: large !important;
}

.navbar-brand {
  padding-right: 30px !important;
  padding-left: 15px !important;
}

.pokedex-header {
  display: flex;
  justify-content: flex-end;
  padding: 1.6%;
}

.pokedex-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  padding-left: 15%;
  padding-right: 15%;
}

@media (min-width: 600px) {
  .pokedex-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .pokedex-grid { grid-template-columns: repeat(3, 1fr); }
}

.pokemon-card {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  background-color: #c4e3d4;
  padding: 15px;
}

.pokemon-card:hover {
  background-color: #b3dbc7;
}

.pokemon-image {
  height: 200px;
}

.pokemon-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-id {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid #78aeb1;
  padding: 3px;
  border-radius: 84px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite {
  position: absolute;
  top: 0px;
  right: 0px;
}

.id-text {
  color: #78aeb1;
  font-weight: 400;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-top h3 {
  text-transform: uppercase;
  color: #59878a;
  font-size: large;
  font-weight: bold;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pokemon-type {
  display: flex;
}

.pokemon-chip {
  background-color: #406264;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.pokemon-type-text {
  text-transform: lowercase;
  color: #deded8;
  font-size: small;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pokemon-heart-btn {
  border: none;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 4px;
  cursor: pointer;
  align-items: center;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  width: 100%;
  border-radius: 20px;
  background-color: #c4e3d4;
  padding: 15px;
}

button {
  background: none;
  color: inherit;
  border: none;
}

.upload-icon:hover .font-upload {
  color: #406264;
}

.font-upload {
  color: #c4e3d4;
}

.favorite:hover .heart-icon {
  color: #406264;
}

.heart-icon {
  font-size: 25px;
}

.upload-icon {
  margin: 5px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.pagination-text {
  color: #2e3056;
  font-weight: bold;
}
